
html,body{
    height: 100%;
}

body{
    background-image: linear-gradient(#000000,#1A1A40);
    display: flex;
    flex-direction: column;
}

div{
    color: #7A0BC0;
}

button{
    background-color: #270082;
    border-style: none;
    color: #FA58B6;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    transition:transform 0.5s ease;
    box-shadow: 10px 10px 10px black;
}

.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-content: center;
    margin: 75px;
}

button:hover{
    transform: scale(1.1);
    transition:all 0.5s ease;
}

#results{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

#results div {
    display:flex;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}